* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  font-family: "Tektur", cursive;
}
body .container {
  width: 550px;
  height: 550px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
body .container .menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 50px;
  font-weight: bold;
}
body .container .menu_tab {
  height: 100%;
  width: 250px;
  transition: color 0.3s linear;
}
body .container .menu_tab:hover {
  color: #008bdb;
  cursor: pointer;
}
body .container .menu .activeTab {
  color: #008bdb;
}
body .container .content {
  height: 500px;
}
body .container .content .tab_title {
  margin: 40px 0;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}
body .container .content input,
body .container .content select {
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
body .container .content .profit {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
body .container .content .profit_inputBox, body .container .content .profit_outputBox {
  padding: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
body .container .content .profit_inputBox .buyPriceBox p,
body .container .content .profit_inputBox .vatSelectBox p,
body .container .content .profit_inputBox .retailPriceBox p {
  text-transform: uppercase;
}
body .container .content .profit_inputBox .buyPriceBox select,
body .container .content .profit_inputBox .vatSelectBox select,
body .container .content .profit_inputBox .retailPriceBox select {
  width: 70px;
}
body .container .content .profit button {
  width: 250px;
  height: 40px;
  text-transform: uppercase;
  font-family: "Tektur", cursive;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: #6cb4df;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
body .container .content .profit_outputBox .output {
  height: 60px;
  width: 140px;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #6cb4df;
}
body .container .content .currency {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100%;
}
body .container .content .currency_input {
  font-size: 24px;
}
body .container .content .currency_input p {
  padding: 10px 0;
}
body .container .content .currency_input input {
  padding: 0 10px;
  height: 40px;
  width: 250px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}
body .container .content .currency_select {
  margin: 20px 0;
}
body .container .content .currency_select i {
  width: 30px;
  cursor: pointer;
}
body .container .content .currency button {
  width: 250px;
  height: 40px;
  text-transform: uppercase;
  font-family: "Tektur", cursive;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: #6cb4df;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
body .container .content .currency_output {
  margin: 40px 0;
  height: 80px;
  width: 350px;
  border-radius: 20px;
  background-color: #fff;
}
body .container .content .currency_output p {
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  font-weight: bold;
}
body .container .content .currency_output .invalid {
  color: red;
}
body .container .content .logistics {
  display: none;
  flex-direction: column;
}
body .container .content .logistics_rates {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
body .container .content .logistics_rates_box {
  padding: 10px 0;
  width: 20%;
  background-color: #fff;
  border-radius: 10px;
  background-color: #6cb4df;
}
body .container .content .logistics_rates_box .rate {
  font-weight: bold;
}
body .container .content .active {
  display: flex;
}/*# sourceMappingURL=style.css.map */